@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-color: rgb(145, 186, 206);
    --primary-color: rgb(143, 4, 34);
    --secundary-color: rgb(255, 255, 255);
    --font-selecionada: "DM Sans", sans-serif;
}
body{
    background-color:var(--bg-color);
    color: var(--primary-color);
}
.barra{
    width:100%;
    padding: 2rem;
    position: fixed;
    box-shadow: 1px 2px var(--secundary-color);

}